USE [master]
GO
/****** Object:  Database [FilmArsivi]    Script Date: 21.10.2022 14:37:25 ******/
CREATE DATABASE [FilmArsivi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmArsivi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FilmArsivi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmArsivi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\FilmArsivi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmArsivi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmArsivi]
GO
/****** Object:  Table [dbo].[Filmler]    Script Date: 21.10.2022 14:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[Adı] [varchar](50) NULL,
	[Kategori] [varchar](50) NULL,
	[Link] [varchar](50) NULL,
	[Durum] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
